.cite-text {
	display: inline-block;
	margin-bottom: 2px;
}
.cite-link {
	display: block;
	font-size: 12px;
	color: gray;
	margin-bottom: 1rem;
}
.help-title {
	color: gray;
}
.suggested-h6 {}
.suggested-h5 {
	padding-top: 20px;
}

/* Final Report */
#reportContainer {
	margin-top: 30px;
	margin-bottom: 50px;
	border-top: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-radius: 6px;
}
#reportHeader {
	margin-bottom: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #dee2e6;
	font-size: 16px;
}
#reportBody .row {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px solid #dee2e6;
}
.report-title {}
.report-title p {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 0px;
	line-height: 18px;
}
.report-value {}
.report-value p {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 0px;
	line-height: 18px;
}
.report-value a {
	padding-left: 6px;
}