.cite-text {
	display: inline-block;
	margin-bottom: 2px;
}
.cite-link {
	display: block;
	font-size: 12px;
	color: gray;
	margin-bottom: 1rem;
}
.help-title {
	color: gray;
}
.suggested-h6 {}
.suggested-h5 {
	padding-top: 20px;
}